# Example .env file

# OAuth credentials
CLIENT_ID='your-client-id'
CLIENT_SECRET='your-client-secret'

# Server configuration
PORT=your-hosting-port

# Database URI
MONGODB_URI='your-mongodb-uri'

# Secrets
USER_SECRET='your-user-secret'
DB_SECRET='your-db-secret'
OLD_DB_SECRET='your-old-db-secret'

# Frontend URLs
WEB_FRONTEND='your-hosting-url'
MOBILE_FRONTEND='your-hosting-url'
ADMIN_FRONTEND='your-hosting-url'